/* ---------------------------------------------------------------------------------------------------

-----Info

API Lab
Web Developer: Lyteia Kitchen
---------------------------------------------------------------------------------------------------*/

html{
	background-color: white;
	margin: 0 auto;
	font-weight: 200;
}








