/*
	Lyteia Kitchen
*/
html{
	background-color: grey;
}

body{
  width: 960px;
  margin: 0 auto;    
}

nav{
	width: 100%;
	overflow: hidden;
}

h1{
  margin:0;   
}

img{
	float: right;
	padding: 5px;
}

ul{
	width: 500px;
	float: left;
	overflow: hidden;
}

ul li{
	width: 50%;
	float: left;
	list-style: none;
}

button{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
